{{#if @movie}}
  <div class="movies-list">
    {{#each @movie as |movie|}}
      <Card @movie={{movie}} @text="Check out on Super Rentals!"/>
    {{/each}}
  </div>

  <InfinityLoader
    @infinityModel={{@movie}}
    @loadingText="Loading movies..."
    @loadedText="All movies loaded"
  />

{{else}}
  <div class="movies-list__no-movies">No movies found</div>
{{/if}}
