{{#if isShowingModal}}
  {{#modal-dialog
          targetAttachment="center"
          translucentOverlay=true
          hasOverlay=false
  }}
    {{outlet}}
  {{/modal-dialog}}
{{/if}}

<!--<button {{action 'toggleModal'}}>Open modal</button>-->
{{#link-to 'rentals.show' 810 invokeAction=(action 'toggleModal')}}fruits{{/link-to}}
